<div class="container">
	
	<h3>New Daily Car for <em id="red"> <%= @location.name %> </em> </h3>

	<br>

	<% if @errors %>
			<% @errors.each do |e| %> <p id="red"> <%= e %> </p> <% end %> 
	<% end %>

	<%= render 'form_daily' %>

	<%= link_to '<- Back ', :back, class: 'btn btn-sm btn-primary' %>

</div>