<nav class="navbar navbar-fixed-bottom bg-faded"> 
	<div class="container-fluid">
  	<p> <%= link_to 'Add a new daily', new_location_daily_path(@location), class: 'btn btn-warning btn-lg btn-block' %> </p>
	</div>
</nav>