<nav class="navbar navbar-fixed-bottom bg-faded"> 
	<div class="container">
  	<p> <%= link_to '<- Back', :back, class: 'btn btn-primary btn-sm' %> 
  	<%= link_to 'Add a new daily', new_location_daily_path(@location), class: 'btn btn-warning btn-lg' %> </p>
	</div>
</nav>